<div class="container-fluid offset-lg-2 col-lg-8">
  <ngb-accordion activeIds="ngb-panel-0" [closeOthers]="true">
    <ngb-panel title="{{ item.title }}" *ngFor="let item of oldExpositions">
      <ng-template ngbPanelContent>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ item.imageUrl }}" class="card-img" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Présentation</h5>
                <p class="card-text" style="white-space: pre-wrap">
                  {{ item.description }}
                </p>
                <p class="card-text">
                  <span class="text text-success">Nombre de visiteurs :</span>
                  {{ item.visitorCount }}
                </p>
                <div class="card-footer row">
                  <h5 class="card-title col-lg-2">Dates</h5>
                  <p class="card-text col-lg-6">
                    du {{ item.startDate | date: "dd/MM/yyyy" }} au
                    {{ item.endDate | date: "dd/MM/yyyy" }}
                  </p>
                </div>

                <!-- Boutons pour le niveau Conservateur -->
                <div class="row" *ngIf="isConservateur">
                  <button class="btn btn-warning m-1">
                    Modifier l'exposition
                  </button>
                  <button class="btn btn-warning m-1">
                    Clôturer l'exposition
                  </button>
                  <button class="btn btn-warning m-1">
                    Supprimer l'exposition
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
