<div class="museum-img">
  <img class="img-fluid" src="/assets/images/MAB.jpg" alt="MAB museum" />
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top px-5">
  <a class="navbar-brand" href="#">M.A.B.</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleMenu()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavAltMarkup"
    [ngbCollapse]="isMenuCollapsed"
  >
    <ul class="navbar-nav mr-auto">
      <a class="nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-link" href="#">Collections</a>
      <a class="nav-link" href="#">Expositions</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Disabled</a
      >
    </ul>
    <ul class="navbar-nav ml-auto">
      <a href="#" class="nav-link">Connexion</a>
    </ul>
  </div>
</nav>
