<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4 text-center my-2">
      <img
        *ngIf="artefact.imageURL != null"
        src="{{ artefact.imageURL }}"
        class="card-img rounded"
      />
      <img
        *ngIf="artefact.imageURL == null"
        src="/assets/images/noimgavailable.jpg"
        class="card-img rounded"
        style="max-width: 50%"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title text-center">
          {{ artefact.name }}
        </h3>
        <h6>Description :</h6>
        <p class="card-text" style="white-space: pre-wrap">
          {{ artefact.objectDescription }}
        </p>
        <h6>Culture</h6>
        <div class="card-text">
          <p>
            {{ artefact.culture.name }}
            <span *ngIf="artefact.culturalPhase"
              >- {{ artefact.culturalPhase }}</span
            >
          </p>
        </div>
        <div class="card-text">
          <h6>Datation</h6>
          <p>
            {{ artefact.startYear }} à {{ artefact.endYear }}
            <small class="text-muted ml-3">{{
              artefact.periodDescription
            }}</small>
          </p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Type</h6>
          <p>{{ artefact.type }}</p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Matériau</h6>
          <p>{{ artefact.material }}</p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Date d'entrée dans le musée</h6>
          <p>{{ artefact.dateOfEntry | date: "dd.MM.yyyy" }}</p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Lieu d'exposition</h6>
          <p
            *ngIf="
              artefact.onPermanentDisplay || artefact.inExposition;
              else elseblock
            "
          >
            {{ artefact.localisation }}
          </p>
          <ng-template #elseblock>Objet en réserve</ng-template>
        </div>
      </div>
    </div>
    <!-- Boutons pour Chercheurs -->
    <div class="col-md-2 my-4 px-2" *ngIf="isChercheur">
      <button
        class="btn btn-success w-100 my-2"
        role="button"
        [routerLink]="['editArtefact']"
        routerLinkActive="router-link-active"
      >
        Editer
      </button>
      <div *ngIf="artefact.inExposition; else NotInExpo">
        <div placement="top" ngbTooltip="L'objet est dans une exposition !">
          <button class="btn btn-success w-100 my-2" role="button" disabled>
            Déplacer
          </button>
        </div>
        <div placement="top" ngbTooltip="L'objet est dans une exposition !">
          <button class="btn btn-success w-100 my-2" disabled>Supprimer</button>
        </div>
        <!-- Bouton pour le conservateur -->
        <div
          placement="bottom"
          ngbTooltip="L'objet est dans une exposition !"
          *ngIf="getJwtAuthority().includes('CONSERVATEUR')"
        >
          <button class="btn btn-warning w-100 my-2" role="button" disabled>
            Exposer
          </button>
        </div>
      </div>
      <ng-template #NotInExpo>
        <!-- Bouton pour Chercheur -->
        <a
          class="btn btn-success w-100 my-2"
          role="button"
          (click)="open(moveArtefact)"
          >Déplacer</a
        >
        <button
          class="btn btn-success w-100 my-2"
          (click)="open(supprimerArtefact)"
        >
          Supprimer
        </button>
        <!-- Modals -->
        <!-- delete artefact modal -->
        <ng-template #supprimerArtefact let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Supprimer l'artefact</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.close()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Êtes vous sûr de vouloir supprimer {{ artefact.name }} ?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="modal.close('deleteArtefact')"
            >
              Oui
            </button>
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="modal.close()"
            >
              Annuler
            </button>
          </div>
        </ng-template>
        <!-- Move artefact modal -->
        <ng-template #moveArtefact let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Déplacer l'artefact</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Pour envoyer dans les réserves :
              <span class="d-flex justify-content-center m-1">
                <button
                  class="btn btn-primary"
                  (click)="modal.close('moveToReserves')"
                >
                  Envoyer en réserves
                </button></span
              >
            </p>
            <p>
              Déplacer l'artefact vers une salle : <input [(ngModel)]="room" />

              <span class="d-flex justify-content-center m-1"
                ><button
                  type="button"
                  class="btn btn-primary"
                  (click)="modal.close('moveArtefact')"
                >
                  Déplacer
                </button></span
              >
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="modal.dismiss()"
            >
              Annuler
            </button>
          </div>
        </ng-template>
        <!-- Bouton pour Conservateur -->
        <a
          *ngIf="getJwtAuthority().includes('CONSERVATEUR')"
          class="btn btn-warning w-100 my-2"
          role="button"
          (click)="sendToBasket()"
          >Exposer</a
        >
      </ng-template>
    </div>
  </div>
</div>
