<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4 text-center my-2">
      <img
        *ngIf="artefact.imageURL != null"
        src="{{ artefact.imageURL }}"
        class="card-img rounded"
      />
      <img
        *ngIf="artefact.imageURL == null"
        src="/assets/images/noimgavailable.jpg"
        class="card-img rounded"
        style="max-width: 50%"
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title text-center">
          {{ artefact.name }}
        </h3>
        <h6>Description :</h6>
        <p class="card-text" style="white-space: pre-wrap">
          {{ artefact.objectDescription }}
        </p>
        <h6>Culture</h6>
        <div class="card-text">
          <p>
            {{ artefact.culture.name }}
            <span *ngIf="artefact.culturalPhase"
              >- {{ artefact.culturalPhase }}</span
            >
          </p>
        </div>
        <div class="card-text">
          <h6>Datation</h6>
          <p>
            {{ artefact.startYear }} à {{ artefact.endYear }}
            <small class="text-muted ml-3">{{
              artefact.periodDescription
            }}</small>
          </p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Type</h6>
          <p>{{ artefact.type }}</p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Matériau</h6>
          <p>{{ artefact.material }}</p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Date d'entrée dans le musée</h6>
          <p>{{ artefact.dateOfEntry | date: "dd.MM.yyyy" }}</p>
        </div>
        <!--  -->
        <div class="card-text">
          <h6>Lieu d'exposition</h6>
          <p
            *ngIf="
              artefact.onPermanentDisplay || artefact.inExposition;
              else elseblock
            "
          >
            {{ artefact.localisation }}
          </p>
          <ng-template #elseblock>Objet en réserve</ng-template>
        </div>
      </div>
    </div>
    <!-- Boutons pour Chercheurs -->
    <div class="col-md-2 my-4 px-2">
      <button
        class="btn btn-success w-100 my-2"
        role="button"
        [routerLink]="['editArtefact']"
        routerLinkActive="router-link-active"
      >
        Editer
      </button>
      <div *ngIf="artefact.inExposition; else NotInExpo">
        <div placement="top" ngbTooltip="L'objet est dans une exposition !">
          <button class="btn btn-success w-100 my-2" role="button" disabled>
            Déplacer
          </button>
        </div>
        <!-- Bouton pour le conservateur -->
        <div placement="bottom" ngbTooltip="L'objet est dans une exposition !">
          <button class="btn btn-warning w-100 my-2" role="button" disabled>
            Exposer
          </button>
        </div>
      </div>
      <ng-template #NotInExpo>
        <!-- Bouton pour Chercheur -->
        <a class="btn btn-success w-100 my-2" role="button">Déplacer</a>
        <!-- Bouton pour Conservateur -->
        <a class="btn btn-warning w-100 my-2" role="button">Exposer</a>
      </ng-template>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn" (click)="back()">
      <i class="fa fa-angle-double-left"></i> Retour
    </button>
  </div>
</div>
